In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [3]:
# Simulate some true labels and predicted labels for classification
true_labels = np.array([1, 0, 1, 1, 0])
predictions = np.array([1, 0, 0, 1, 1])

In [4]:
accuracy = accuracy_score(true_labels, predictions)
precision = precision_score(true_labels, predictions)
recall = recall_score(true_labels, predictions)
f1 = f1_score(true_labels, predictions)

In [ ]:
file_path = 'student_dropout.csv'
data = pd.read_csv(file_path)

In [ ]:
data_head = data.head()
data_info = data.info()
data_describe = data.describe()

data_head, data_info, data_describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

(   Marital status  Application mode  Application order  Course  \
 0               1                17                  5     171
 1               1                15                  1    9254
 2               1                 1                  5    9070
 3               1                17                  2    9773
 4               2                39                  1    8014

    Daytime/evening attendance\t  Previous qualification  \
 0                             1                       1
 1                             1                       1
 2                             1                       1
 3                             1                       1
 4                             0                       1

    Previous qualification (grade)  Nacionality  Mother's qualification  \
 0                           122.0            1                      19
 1                           160.0            1                       1
 2                           122.0            1                      37
 3                           122.0            1                      38
 4                           100.0            1                      37

    Father's qualification  ...  Curricular units 2nd sem (credited)  \
 0                      12  ...                                    0
 1                       3  ...                                    0
 2                      37  ...                                    0
 3                      37  ...                                    0
 4                      38  ...                                    0

    Curricular units 2nd sem (enrolled)  \
 0                                    0
 1                                    6
 2                                    6
 3                                    6
 4                                    6

    Curricular units 2nd sem (evaluations)  \
 0                                       0
 1                                       6
 2                                       0
 3                                      10
 4                                       6

    Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
 0                                    0                          0.000000
 1                                    6                         13.666667
 2                                    0                          0.000000
 3                                    5                         12.400000
 4                                    6                         13.000000

    Curricular units 2nd sem (without evaluations)  Unemployment rate  \
 0                                               0               10.8
 1                                               0               13.9
 2                                               0               10.8
 3                                               0                9.4
 4                                               0               13.9

    Inflation rate   GDP    Target
 0             1.4  1.74   Dropout
 1            -0.3  0.79  Graduate
 2             1.4  1.74   Dropout
 3            -0.8 -3.12  Graduate
 4            -0.3  0.79  Graduate

 [5 rows x 37 columns],
 None,
        Marital status  Application mode  Application order       Course  \
 count     4424.000000       4424.000000        4424.000000  4424.000000
 mean         1.178571         18.669078           1.727848  8856.642631
 std          0.605747         17.484682           1.313793  2063.566416
 min          1.000000          1.000000           0.000000    33.000000
 25%          1.000000          1.000000           1.000000  9085.000000
 50%          1.000000         17.000000           1.000000  9238.000000
 75%          1.000000         39.000000           2.000000  9556.000000
 max          6.000000         57.000000           9.000000  9991.000000

        Daytime/evening attendance\t  Previous qualification  \
 count                   4424.000000             4424.000000
 mean                       0.890823                4.577758
 std                        0.311897               10.216592
 min                        0.000000                1.000000
 25%                        1.000000                1.000000
 50%                        1.000000                1.000000
 75%                        1.000000                1.000000
 max                        1.000000               43.000000

        Previous qualification (grade)  Nacionality  Mother's qualification  \
 count                     4424.000000  4424.000000             4424.000000
 mean                       132.613314     1.873192               19.561935
 std                         13.188332     6.914514               15.603186
 min                         95.000000     1.000000                1.000000
 25%                        125.000000     1.000000                2.000000
 50%                        133.100000     1.000000               19.000000
 75%                        140.000000     1.000000               37.000000
 max                        190.000000   109.000000               44.000000

        Father's qualification  ...  \
 count             4424.000000  ...
 mean                22.275316  ...
 std                 15.343108  ...
 min                  1.000000  ...
 25%                  3.000000  ...
 50%                 19.000000  ...
 75%                 37.000000  ...
 max                 44.000000  ...

        Curricular units 1st sem (without evaluations)  \
 count                                     4424.000000
 mean                                         0.137658
 std                                          0.690880
 min                                          0.000000
 25%                                          0.000000
 50%                                          0.000000
 75%                                          0.000000
 max                                         12.000000

        Curricular units 2nd sem (credited)  \
 count                          4424.000000
 mean                              0.541817
 std                               1.918546
 min                               0.000000
 25%                               0.000000
 50%                               0.000000
 75%                               0.000000
 max                              19.000000

        Curricular units 2nd sem (enrolled)  \
 count                          4424.000000
 mean                              6.232143
 std                               2.195951
 min                               0.000000
 25%                               5.000000
 50%                               6.000000
 75%                               7.000000
 max                              23.000000

        Curricular units 2nd sem (evaluations)  \
 count                             4424.000000
 mean                                 8.063291
 std                                  3.947951
 min                                  0.000000
 25%                                  6.000000
 50%                                  8.000000
 75%                                 10.000000
 max                                 33.000000

        Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
 count                          4424.000000                       4424.000000
 mean                              4.435805                         10.230206
 std                               3.014764                          5.210808
 min                               0.000000                          0.000000
 25%                               2.000000                         10.750000
 50%                               5.000000                         12.200000
 75%                               6.000000                         13.333333
 max                              20.000000                         18.571429

        Curricular units 2nd sem (without evaluations)  Unemployment rate  \
 count                                     4424.000000        4424.000000
 mean                                         0.150316          11.566139
 std                                          0.753774           2.663850
 min                                          0.000000           7.600000
 25%                                          0.000000           9.400000
 50%                                          0.000000          11.100000
 75%                                          0.000000          13.900000
 max                                         12.000000          16.200000

        Inflation rate          GDP
 count     4424.000000  4424.000000
 mean         1.228029     0.001969
 std          1.382711     2.269935
 min         -0.800000    -4.060000
 25%          0.300000    -1.700000
 50%          1.400000     0.320000
 75%          2.600000     1.790000
 max          3.700000     3.510000

 [8 rows x 36 columns])

In [ ]:
categorical_checks = {column: data[column].unique() for column in ['Marital status', 'Application mode', 'Nacionality']}
outlier_check = data['Age at enrollment'].describe()

categorical_checks, outlier_check

({'Marital status': array([1, 2, 4, 3, 5, 6], dtype=int64),
  'Application mode': array([17, 15,  1, 39, 18, 53, 44, 51, 43,  7, 42, 16,  5,  2, 10, 57, 26,
         27], dtype=int64),
  'Nacionality': array([  1,  62,   6,  41,  26, 103,  13,  25,  21, 101,  11,  22,  32,
         100,  24, 109,   2, 108, 105,  14,  17], dtype=int64)},
 count    4424.000000
 mean       23.265145
 std         7.587816
 min        17.000000
 25%        19.000000
 50%        20.000000
 75%        25.000000
 max        70.000000
 Name: Age at enrollment, dtype: float64)

In [5]:
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy: 0.6
Precision: 0.6666666666666666
Recall: 0.6666666666666666
F1 Score: 0.6666666666666666